{% extends 'base_page.html' %}
{% load thumbnail %}

{% block title %} Special Offers {% endblock %}

{% block content %}
  <h1 class="text-center" style="margin-top: 5rem; margin-bottom: 5rem; font-weight: 900">Special Offers</h1>
  {% for offer in object_list %}
    <div class="row offer">
      <div class="col-md-3">
        {% if offer.image %}
          {% thumbnail offer.image "284x267" crop="center" as im %}
            <img style="margin-right: 5px" src="{{ im.url }}" />
          {% endthumbnail %}
        {% endif %}
      </div>
      <div class="col-md-9 offer_content">
        <div class="offer_title">
          <a href="{% url 'offers:detail' offer.id %}">
            <h4>{{ offer.name }}</h4>
            <hr>
            <p>{{ offer.description|safe }}</p>
            <p><b>Offer Expires On:</b> {{ offer.expires_at }} </p>
            <p><b>For Stays Between:</b> {{ offer.stays_from }} - {{ offer.stays_to }}  </p>
          </a>
        </div>
        <a href="{% url 'offers:detail' offer.id %}" class="btn btn-offer pull-right">SELECT EXCLUSIVE OFFER</a>
      </div>
    </div>
  {% endfor %}
  <div class="row">

    {% if is_paginated %}
      <ul class="pagination" style="margin-bottom: 15rem; margin-top: 6rem;">
        {% if page_obj.has_previous %}
        {% else %}
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li class="nav_button"><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        {% else %}
        {% endif %}
      </ul>
    {% endif %}
  </div>
{% endblock %}

{% block extra_js %}
  <script>
      $(".nav_button").click(function() {
          window.location = $(this).find("a").attr("href");
          return false;
      });
  </script>
{% endblock extra_js %}