{% load static %}

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top top_menu">
    <div class="container">
        <a class="navbar-brand" href="{% url 'ui:index' %}">
            <img src="{% static 'img/logo.png' %}" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Destinations
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        {% for destination in all_destinations %}
                            <a class="dropdown-item" href="{% url 'resorts:destination-detail' destination.id %}">{{ destination.name }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'offers:list' %}">Special Offers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Packages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Tales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Contact Us</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-default nav-link" href="">Call us +960 3327584</button>
                </li>
            </ul>
        </div>
    </div>
</nav>