{% extends 'base_page.html' %}
{% load thumbnail %}

{% block title %} {{ object.name }} {% endblock %}

{% block content %}
    <h1 class="text-center mt-5">{{ destination.name }} Destinations</h1>
    <div class="row">
        {% for resort in resorts %}

            <div class="col-lg-4 single_resort">
                {% if resort.resortimage_set.all %}
                    {% thumbnail resort.resortimage_set.first "345x345" crop="center" as im %}
                        <img src="{{ im.url }}" />
                    {% endthumbnail %}
                {% endif %}
                <br>
                <div class="text-center text_content">
                    <b><a href="{% url 'resorts:resort-detail' resort.id %}">{{ resort.name }}</a></b>
                    <p>BAA ATOLL / 25 minutes transfer</p>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}