{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block content %}
    <div class="text-center">
        <h1 class="mt-5">Featured Resorts</h1>
    </div>
    <div class="row offers">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text">Adaaran Club Rannalhi</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-text">Adaaran Club Rannalhi</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-text">Adaaran Club Rannalhi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row offers">
        <div class="col-md-12">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text">
                        NORTH MALE ATOLL <br>
                        Sheraton Full Moon Resort</p>
                </div>
            </div>

        </div>
    </div>

    <div class="text-center">
        <h1 class="mt-5">Special Offers</h1>
    </div>

    <div class="row offers">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text">Adaaran Club Rannalhi</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-text">Adaaran Club Rannalhi</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-text">Adaaran Club Rannalhi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row offers">
        <div class="col-md-12">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text">
                        NORTH MALE ATOLL <br>
                        Sheraton Full Moon Resort</p>
                </div>
            </div>

        </div>
    </div>


{% endblock content %}