{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} Home {% endblock title %}


{% block content %}
  <div class="text-center">
    <h1 class="mt-5 mb-5">Featured Resorts</h1>
  </div>
  <div class="row offers">
    <div class="col-md-6">
      {% if resort_top_left.resortimage_set.all %}
        <img class="img-responsive" style="width: 100%; height: 100%"
             src="{{ resort_top_left.resortimage_set.first.image.url }}" alt="">
      {% else %}
          <div class="featured_products" style="min-height: 300px; line-height: 300px">
            <a href="{% url 'resorts:resort-detail' resort_top_left.id %}">{{ resort_top_left }}</a>
          </div>
      {% endif %}
    </div>
    <div class="col-md-6">
      <div class="mb-4">
        {% if resort_top_right.resortimage_set.all %}
          <img class="img-responsive" style="width: 100%; max-height: 150px"
               src="{{ resort_top_right.resortimage_set.first.image.url }}" alt="">
      {% else %}
          <div class="featured_products" style="min-height: 150px; line-height: 150px">
            <a href="{% url 'resorts:resort-detail' resort_top_right.id %}">{{ resort_top_right }}</a>
          </div>
      {% endif %}
      </div>
      <div>
        {% if resort_bottom_left.resortimage_set.all %}
          <img class="img-responsive" style="width: 100%; max-height: 150px"
               src="{{ resort_bottom_left.resortimage_set.first.image.url }}" alt="">
      {% else %}
          <div class="featured_products" style="min-height: 150px; line-height: 150px">
            <a href="{% url 'resorts:resort-detail' resort_bottom_left.id %}">{{ resort_bottom_left }}</a>
          </div>
      {% endif %}
      </div>
    </div>
  </div>

  <div class="row offers mt-4">
    <div class="col-md-12">
      {% if resort_bottom_center.resortimage_set.all %}
        <img class="img-responsive" style="width: 100%; max-height: 150px"
             src="{{ resort_bottom_center.resortimage_set.first.image.url }}" alt="">
      {% else %}
          <div class="featured_products" style="min-height: 300px; line-height: 300px">
            <a href="{% url 'resorts:resort-detail' resort_bottom_center.id %}">{{ resort_bottom_center }}</a>
          </div>
      {% endif %}
    </div>
  </div>

  <div class="text-center">
    <h1 class="mt-5 mb-5">Special Offers</h1>
  </div>

  <div class="row offers">
    <div class="col-md-6">
      {% if offer_top_left.image %}
        <img class="img-responsive" style="width: 100%; height: 100%"
             src="{{ offer_top_left.image.url }}" alt="">
      {% else %}
        <div class="featured_products" style="min-height: 300px; line-height: 300px">
          <a href="{% url 'offers:detail' offer_top_left.id %}">{{ offer_top_left }}</a>
        </div>
      {% endif %}
    </div>
    <div class="col-md-6">
      <div class="mb-4">
        {% if offer_top_right.image %}
          <img class="img-responsive" style="width: 100%; max-height: 150px"
               src="{{ offer_top_right.image.url }}" alt="">
        {% else %}
          <div class="featured_products" style="min-height: 150px; line-height: 150px">
            <a href="{% url 'offers:detail' offer_top_right.id %}">{{ offer_top_right }}</a>
          </div>
        {% endif %}
      </div>
      <div>
        {% if offer_bottom_left.image %}
          <img class="img-responsive" style="width: 100%; max-height: 150px"
               src="{{ offer_bottom_left.image.url }}" alt="">
        {% else %}
          <div class="featured_products" style="min-height: 150px; line-height: 150px">
            <a href="{% url 'offers:detail' offer_bottom_left.id %}">{{ offer_bottom_left }}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row offers mt-4">
    <div class="col-md-12">
      {% if offer_bottom_center.image %}
        <img class="img-responsive" style="width: 100%; max-height: 150px"
             src="{{ offer_bottom_center.image.url }}" alt="">
      {% else %}
        <div class="featured_products" style="min-height: 300px; line-height: 300px">
          <a href="{% url 'offers:detail' offer_bottom_center.id %}">{{ offer_bottom_center }}</a>
        </div>
      {% endif %}
    </div>
  </div>


{% endblock content %}