@font-face {
    font-family: "proxima-nova";
    font-weight: 300;
    font-style: normal;
    src: url("/static/fonts/proximanova-light-webfont.eot");
    src: url("/static/fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/proximanova-light-webfont.woff2") format("woff2"), url("/static/fonts/proximanova-light-webfont.woff") format("woff"), url("/static/fonts/proximanova-light-webfont.ttf") format("truetype"), url("/static/fonts/proximanova-light-webfont.svg#proxima_novalight") format("svg")
}

@font-face {
    font-family: "proxima-nova";
    font-weight: 300;
    font-style: italic;
    src: url("/static/fonts/proximanova-lightit-webfont.eot");
    src: url("/static/fonts/proximanova-lightit-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/proximanova-lightit-webfont.woff2") format("woff2"), url("/static/fonts/proximanova-lightit-webfont.woff") format("woff"), url("/static/fonts/proximanova-lightit-webfont.ttf") format("truetype"), url("/static/fonts/proximanova-lightit-webfont.svg#proxima_novalight") format("svg")
}

@font-face {
    font-family: "proxima-nova";
    font-weight: 400;
    font-style: normal;
    src: url("/static/fonts/proximanova-regular-webfont.eot");
    src: url("/static/fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/proximanova-regular-webfont.woff2") format("woff2"), url("/static/fonts/proximanova-regular-webfont.woff") format("woff"), url("/static/fonts/proximanova-regular-webfont.ttf") format("truetype"), url("/static/fonts/proximanova-regular-webfont.svg#proxima_novalight") format("svg")
}

@font-face {
    font-family: "proxima-nova";
    font-weight: 400;
    font-style: italic;
    src: url("/static/fonts/proximanova-regularit-webfont.eot");
    src: url("/static/fonts/proximanova-regularit-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/proximanova-regularit-webfont.woff2") format("woff2"), url("/static/fonts/proximanova-regularit-webfont.woff") format("woff"), url("/static/fonts/proximanova-regularit-webfont.ttf") format("truetype"), url("/static/fonts/proximanova-regularit-webfont.svg#proxima_novalight") format("svg")
}

@font-face {
    font-family: "proxima-nova";
    font-weight: 600;
    font-style: normal;
    src: url("/static/fonts/proximanova-semibold-webfont.eot");
    src: url("/static/fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("/static/fonts/proximanova-semibold-webfont.woff") format("woff"), url("/static/fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("/static/fonts/proximanova-semibold-webfont.svg#proxima_novalight") format("svg")
}

@font-face {
    font-family: "proxima-nova";
    font-weight: 700;
    font-style: normal;
    src: url("/static/fonts/proximanova-semibold-webfont.eot");
    src: url("/static/fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("/static/fonts/proximanova-semibold-webfont.woff") format("woff"), url("/static/fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("/static/fonts/proximanova-semibold-webfont.svg#proxima_novalight") format("svg")
}

body {
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'proxima-nova', sans-serif;
    letter-spacing: 1px;
    background: #efefef;
}

textarea, input, button { outline: none; }
input:focus {
    outline-color: transparent;
    outline-style: none;
    outline:none;
    -webkit-appearance: none;
}
input {
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

}

.form-control {
    border-radius: 0;
    color: #999999;
}

input,
input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 3;
    color: #999999;
}

select { -webkit-appearance: none; }




.top_menu {
    background: #242e36 !important;
    font-size: 12px;
    font-weight: bold;
}
.top_menu li a {
    color: white;
    text-transform: uppercase;
    margin-top: 5px;
    margin-left: 25px;
}
.top_menu li a:hover {
    color: gray;
    text-underline: none;
}

.top_menu button {
    background: #394854;
    border-radius: 0;
    font-size: 12px;
    padding: 10px 15px;
    padding-left: 20px;
    letter-spacing: 1.5px;
}

.dropdown-item:active {
    background: #394854;
}

.offers {
    text-align: center;
}

.home_page h1 {
    font-size: 1.9rem;
}

.featured_products {
    background: #333333;
    width: 100%;
    height: 100%;
    display: block;
    color: white;
    padding: 10px;
    vertical-align: middle;
    font-size: 20px;
}

.featured_products a {
    color: white;
    text-decoration: none;
}


.socials {
    background: black;
    height: 50px;
    width: 100%;
    color: #cacaca;
}

.socials i {
    color: #cacaca;
    margin-left: 50px;
    margin-top: 15px;
}

.bottom_menu {
    background: #313640;
    color: #cacaca;
    font-size: 15px;
}

.bottom_menu a {
    color: #cacaca;
}

.bottom_menu h3 {
    font-size: 23px;
}

footer {
    margin-top: 20px;
}

footer a {
    color: white;
}
footer a:hover {
    color: white;
    text-decoration: none;
}

hr {
    height: 4px;
    width: 70px;
    /*text-align: center;*/
    position: relative;
    background: #cacaca;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 0;
    margin-left: 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu-right {
    background: #242e36;
    border-radius: 0;
    border: 0;
    opacity: 0.8;
    font-size: 12px;
    color: #e3e2e2;
    left: 0;
}

.top_menu .dropdown-item:hover {
    background: none;
}

.nav-item {
    margin-right: 25px;
}

.single_resort {
    margin-bottom: 65px;
    color: #282828;
    cursor: pointer;
    font-size: 0.8rem;
}

.text_content {
    font-size: 0.9rem;
    color: black;
    padding: 25px;
}

.text_content a {
    color: black;
}
.text_content p {
    font-size: 0.7rem;
}

.text_content a:hover {
    color: #d0d0d0;
    text-decoration: none;
}

.text_content:hover {
    width: 98.7%;
    background: #282828;
    color: #d0d0d0;
}

.single_resort:hover .text_content {
    background: #282828;
    width: 98.7%;
    min-height: 50px;
    color: #d0d0d0;
    text-decoration: none;
}
.single_resort:hover .text_content a {
    color: #d0d0d0;
    text-decoration: none;
}
.single_resort:hover .text_content p {
    font-size: 0.7rem;
}

.page_content {
    margin-top: 45px;
    background: #efefef;
    min-height: 400px;
}

.page_content .btn-danger {
    font-size: 0.8rem;
}

.page_content h1{
    margin: 3rem 0;
    font-weight: 700;
    font-size: 2rem;
}

.enquire {
    height: 200px;
    background: #1a2025;
    color: #d8d8d8;
    font-style: italic;
    font-size: 12px;
    padding: 20px;
    margin-left: 15px;
}

.enquiry_page {
    float: none; margin: 0 auto;
    margin-bottom: 8rem;
}
.enquiry_page h4 {
    font-size: 1.2rem;
    color: #717171;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: block;
}

.contact-content h4 {
    font-size: 1.2rem;
    color: #717171;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: block;
}


.contact-content {
    background: #dcdcdc;
    border: 2px solid #a8a8a8;
}

.contact-content button {
    background: #d53f3f;
    text-transform: uppercase;
    font-size: 0.7rem;
    cursor: pointer;
}

.enquiry_page button {
    background: #d53f3f;
    cursor: pointer;
}

.enquire .button {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    background: #384451;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #d8d8d8;
    padding: 20px 60px;
    cursor: pointer;
    font-style: normal;
    letter-spacing: 2px;

}

.button:hover {
    text-decoration: none;
    background: #414951;
}

.offer {
    border: 1px solid #cfcfcf;
    margin-bottom: 30px;
    border-top: 2px solid #282828;
}

.offer_content {
    border-left: 1px solid #cfcfcf;
    padding-bottom: 46px;
    background: white;
    font-size: 13px;
}

.offer_content a {
    text-decoration: none;
    color: #282828;
}

.offer_content h4 {
    font-weight: bold;
    font-size: 1.2rem;
}

.offer_title {
    padding: 10px;
}

.offer_content hr {
    height: 1px;
    width: 100%;
    position: relative;
    background: #cfcfcf;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 0;
    margin-left: 0;
}

.btn-danger {
    border-radius: 0;
    background: #b03232;
    padding: 15px;
}

.btn-offer {
    color: #cfcfcf;
    border-radius: 0;
    background: #242e36;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 14px 30px;
    font-size: 11px;
    bottom: 0;
}

a.btn-offer {
    color: #cfcfcf ;
}

.pagination {
    float: none;
    margin: 0px auto;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.pagination li {
    width: 35px;
    height: 35px;
    border: 1px solid #afafaf;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    margin-left: 15px;
    font-size: 14px;
    color: #afafaf;
    padding: 5px;
}

.pagination a {
    color: #afafaf;
}

.pagination li.active {
    border: 1px solid black;
    background: transparent;
    color: black;
}


.pagination li:hover {
    border: 1px solid black;
    background: black;
    color: #afafaf;
    text-decoration: none;
}
.pagination li.active:hover {
    background: transparent;
    color: black;
}

.pagination a:hover {
    text-decoration: none;
}

.nav-tabs {
    border: 0;
}

.page_menu {
    height: 50px;
    text-transform: uppercase;
    font-size: 0.6rem;
}

.page_menu li {
    margin-right: 100px;
    line-height: 50px;
    display: block;
}

.page_menu li a.active{
    color: #a8a8a8;
    background: #2a343f;
    padding: 19px 0;
}

.page_menu li a {
    color: white;
    text-decoration: none;
}

.xs_page_menu {
    color: black;
}

.dropdown-menu {
    background: #343a40;
}

.datepicker-dropdown {
    color: white;
    cursor: pointer;
    padding-left: 10px;
}

.text_on_featured_pictures {
    position: absolute;
    bottom: 40%;
    left: 30%;
    font-size: 1.5rem;
}

.text_on_featured_pictures a {
    color: white;
    text-decoration: none;
}

.mt-15 {
    margin-top: 5rem !important;
}
.mb-20 {
    margin-bottom: 15rem !important;

}.mb-15 {
     margin-bottom: 5rem !important;
 }

.bold {
    /*font-weight: bold !important;*/
    font-weight: 700 !important;
}

.resort_caption {
    font-size: 2rem;
}

.page_title {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-weight: bold;
}

#sidebar {
    /*width: 190px;*/
    position: fixed;
    /*margin-left: 410px;*/
    z-index: 99;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.caption a {
    color: white;
    font-size: 1.3rem;
}

.caption a:hover {
    text-decoration: none;
}

.home_thumbnail {
    position: relative;
}

.resort_filters {
    margin-bottom: 3rem;
}

.resort_filters button {
    width: 100%;
    padding: 20px 40px;
    background: #242e36;
    color: #cccccc;
    text-transform: uppercase;
    font-size: 0.6rem;
    line-height: 1.5;
    border-radius: 0;
    text-align: left;
    cursor: pointer;
}

.resort_filters .dropdown-toggle {
    background: #242e36 !important;
    color: #cccccc !important;
    box-shadow: none !important;
}

.resort_filters .dropdown-item {
    color: #cccccc;
    font-size: 0.6rem;
    text-transform: uppercase;
}

.resort_filters .dropdown-item:hover {
    color: white;
    background: transparent;

}

.resort_filters .dropdown-menu {
    background: #242e36;
    border-radius: 0;
    color: #cccccc;
    width: 100%;
}


@media (max-width: 767px) {
    .first_home_picture {
        margin-bottom: 22px;
    }
    .dropdown {
        display: block;
    }

    .contact_sidebar {
        margin-top: 20px;
    }
    .contact_sidebar img {
        width: 100%;
    }
}